@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Rubik:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #222222 !important;
}

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.j-between {
  justify-content: space-between;
}

.a-item {
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.back-to-top {
  position: fixed;
  padding: 11px 18px;
  z-index: 9;
  border-radius: 50%;
  color: #ff8b00;
  font-size: 33px;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
}

header {
  background-color: #222222;
  padding: 30px 0;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 9;
}
header .logo h2 {
  font-size: 18px;
  color: #ff8b00;
}
header nav ul li {
  position: relative;
}
header nav ul li a {
  color: #ffffff;
  margin: 0 15px;
  font-size: 18px;
  letter-spacing: 1px;
}
header nav ul li a:hover {
  color: #ff8b00;
}
header nav ul li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
header .sub-menu {
  position: absolute;
  top: 50px;
  width: 150px;
  background-color: #222222;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
header .sub-menu ul li {
  padding: 10px;
}

.imgfirst {
  background-image: url("../img/asset 5.webp");
  height: 90vh;
  width: 100%;
  background-position: top;
  background-size: cover;
}
.imgfirst .imgsection {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgfirst .imgsection h1 {
  color: #ff8b00;
  font-size: 72px;
  font-weight: 500;
}
.imgfirst .imgsection p {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  margin: 20px 0;
}
.imgfirst .imgsection button {
  padding: 15px 25px;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  transition: 0.9s;
  color: #ff8b00;
  margin: 20px 0;
}
.imgfirst .imgsection button:hover {
  background-color: black;
  cursor: pointer;
  border: 1px solid #ff8b00;
}

.second-section .second-content h2 {
  color: #ff8b00;
  font-size: 45px;
  text-align: center;
  font-weight: 500;
  padding: 50px 0 10px 0;
}
.second-section .second-content p {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 80px;
}

.third-section {
  text-align: center;
  margin-bottom: 50px;
}
.third-section .skate {
  width: 33.33%;
  margin: 10px;
  border: 1px solid #ffffff;
  padding: 20px;
  border-radius: 5px;
}
.third-section h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.third-section p {
  font-size: 18px;
  letter-spacing: 1px;
  color: #939393;
  line-height: 1.4;
  margin-bottom: 10px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}
.third-section i {
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff8b00;
  margin: 10px 0 30px 0;
}

.four-section {
  margin-bottom: 80px;
}
.four-section .img-section {
  width: 50%;
}
.four-section .img-section img {
  width: 100%;
  height: 600px;
  padding: 20px;
  background-position: center;
  background-size: cover;
}
.four-section .c-section {
  width: 50%;
}
.four-section .c-section h2 {
  color: #ff8b00;
  font-size: 36px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 20px;
}
.four-section .c-section p {
  font-size: 18px;
  letter-spacing: 1px;
  color: #939393;
  text-align: left;
  padding: 20px;
}
.four-section .c-section span {
  color: #ffffff;
}
.four-section .c-section h3 {
  color: #939393;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 5px;
  padding: 15px 0 0 120px;
}
.four-section .c-section h3 i {
  color: #ff8b00;
  padding-right: 15px;
  font-size: 20px;
}

.five-section {
  text-align: center;
  margin-bottom: 80px;
}

.six-section {
  margin-bottom: 50px;
}
.six-section .media {
  width: 33.33%;
  height: 350px;
  margin: 10px;
  background-color: rgba(147, 147, 147, 0.1882352941);
  text-align: center;
}
.six-section img {
  width: 40%;
  margin: 30px;
  border-radius: 50%;
}
.six-section h2 {
  color: #ff8b00;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 10px 0;
}
.six-section p {
  font-size: 15px;
  letter-spacing: 2px;
  color: #939393;
  margin-bottom: 20px;
}
.six-section .iconimg i {
  font-size: 20px;
  color: #ffffff;
  background-color: #ff8b00;
  padding: 10px;
  border-radius: 5px;
  margin: 3px;
}

.seven-section {
  margin-bottom: 80px;
  text-align: center;
}
.seven-section .like {
  width: 33.33%;
  height: 600px;
  background-color: rgba(147, 147, 147, 0.1882352941);
  margin: 10px;
}
.seven-section h2 {
  color: #ffffff;
  margin: 20px 0;
  font-size: 32px;
  font-weight: 500;
}
.seven-section p {
  color: #939393;
  font-size: 18px;
  margin-bottom: 30px;
}
.seven-section p span {
  color: #ff8b00;
  font-size: 50px;
}
.seven-section h3 {
  color: #939393;
  text-align: left;
  line-height: 2;
  margin-left: 40px;
}
.seven-section h3 i {
  color: rgb(11, 242, 11);
  margin-right: 10px;
}
.seven-section button {
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  transition: 0.9s;
  color: #ff8b00;
  margin: 50px 0;
}
.seven-section button:hover {
  background-color: black;
  cursor: pointer;
  border: 1px solid #ff8b00;
}

.nine-section {
  margin-top: 30px;
}
.nine-section .nine {
  width: 50%;
  padding: 10px;
}
.nine-section h2 {
  color: #ff8b00;
  font-size: 25px;
  margin: 10px 0;
}
.nine-section p {
  color: #939393;
  font-size: 18px;
  letter-spacing: 1px;
}

.ten-section {
  margin-top: 40px;
  margin-bottom: 80px;
}
.ten-section .ten {
  width: 50%;
  padding: 20px;
}
.ten-section .ten img {
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
}
.ten-section .ten h2 {
  color: #ff8b00;
  font-size: 30px;
  margin: 20px 0;
  font-weight: 500;
  font-family: poppins;
  letter-spacing: 1px;
}
.ten-section .ten p {
  color: #939393;
  font-size: 18px;
  margin-bottom: 10px;
}
.ten-section .ten h3 {
  color: #ff8b00;
}

.elevan-section {
  margin-top: 50px;
  text-align: center;
}
.elevan-section .elevan {
  width: 50%;
  padding: 20px;
}
.elevan-section form input {
  width: 100%;
  padding: 15px;
  background-color: rgba(147, 147, 147, 0.1882352941);
  border: none;
  margin: 10px 0;
  border-radius: 20px;
  font-size: 18px;
}
.elevan-section form button {
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ff8b00;
  border: 1px solid #ffffff;
  transition: 0.9s;
  color: #ffffff;
  margin: 50px 0;
  width: 50%;
}
.elevan-section form button:hover {
  color: #ff8b00;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #ff8b00;
}
.elevan-section form textarea {
  width: 100%;
  background-color: rgba(147, 147, 147, 0.1882352941);
  border-radius: 20px;
  padding: 15px;
  font-size: 18px;
  border: none;
}
.elevan-section h2 {
  color: #ff8b00;
  font-size: 30px;
  margin: 20px 0;
  font-weight: 500;
  font-family: poppins;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 45px;
}
.elevan-section p {
  color: #939393;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  padding: 20px 50px 20px;
}
.elevan-section button {
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ff8b00;
  border: 1px solid #ffffff;
  transition: 0.9s;
  color: #ffffff;
  margin: 50px 0;
  width: 50%;
}
.elevan-section button:hover {
  color: #ff8b00;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #ff8b00;
}

.l-footer {
  background-color: rgba(147, 147, 147, 0.1882352941);
  padding-bottom: 50px;
}
.l-footer .foot {
  width: 35%;
  padding: 30px;
}
.l-footer .t-footer {
  width: 30%;
  padding: 30px;
}
.l-footer h2 {
  color: #ff8b00;
  margin: 20px 0;
  font-size: 25px;
  letter-spacing: 1px;
}
.l-footer p {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 1px;
}
.l-footer ul li {
  color: #939393;
  line-height: 2;
  font-size: 18px;
}
.l-footer ul li:hover {
  color: #ffffff;
  cursor: pointer;
}
.l-footer i {
  color: #ffffff;
  padding: 5px;
  font-size: 22px;
}

/*# sourceMappingURL=style.css.map */
